
#footer {
  position: relative !important;
  top: 0;
  width: 100%;
  background-color: white;
  opacity: 1;
  list-style-type: none;
}

.footer-row1 {
  position: relative;
  height: 120px;
}

.socials {
  position: relative !important;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.footer-row1 ul li {
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  margin:0px;
  width: 87px;
  padding: 20px 20px;
  border-radius: 50%;
  text-align: center;
  margin: 0px 20px;
}

.footer-row1 ul a {
  color: #666666;
}

@media screen and (max-width: 900px) {
  .footer-row1 ul li {
    font-size: 10px;
    padding: 5px 5px;
    width: 45px;
    margin: 0px 15px;
  }
}


.footer-row1 ul li:hover{
  border: 2px solid #1daadf;
  transition: all .5s ease;
}

.footer-row2 {
  position: relative !important;
  float: none;
  display: block;
  background-color: #eeeeee;
  height: 200px;
}

.footer-category {
  display: block;
  text-align: center;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  top: 30px;
}

.footer-category li {
  display: inline-block;
  margin:0px;
  padding: 0px 20px 0px 20px;
}

.privacy {
  position: relative !important;
  text-align: center;
  background-color: #eeeeee;
  font-weight: 400;
  top: 50px;
  font-size: 18px;
  color: #444;
}

.privacy li {
  display: inline-block;
  margin:0px;
  padding: 0px 20px 0px 20px;
}

.privacy li a{
  color: #aaaacc !important;
}

.copyright {
  font-weight: 400;
  position: relative !important;
  text-align: center;
  color: #aaaaaa;
  top: 70px;
}

@media screen and (max-width: 600px) {
  .footer-row2 div p {
    font-size: 12px !important;
  }
}
