
#footer {
  position: relative;
  float: none;
  top: 0;
  width: 100%;
  background-color: white;
  opacity: 1;
  list-style-type: none;
  a {
    text-decoration: none;
  }
}

.footer-row1 {
  position: relative;
  height: 120px;
}

.footer-row1 ul {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  color: #555;
  transform: translateX(-50%) translateY(-50%);
}

.footer-row1 ul li {
  display: inline-block;
  margin:0px;
  padding: 0px 40px;
}

.footer-row2 {
  position: relative;
  background-color: #eeeeee;
  height: 200px;
}

.footer-category {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
}

.footer-category li {
  display: inline;
  margin:0px;
  padding: 0px 20px 0px 20px;
}

.privacy {
  position: relative;
  background-color: #eeeeee;
  height: 40px;
}

.privacy {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  left: 50%;
  top: 60%;
  color: #444;
  transform: translateX(-50%) translateY(-50%);
}

.privacy li {
  display: inline;
  margin:0px;
  padding: 0px 20px 0px 20px;
}

.privacy li a{
  color: #aaaacc !important;
}

.copyright {
  font-weight: 400;
  position: absolute;
  top:70%;
  left: 50%;
  color: #aaaaaa;
  transform: translateX(-50%);
}
