
html {
  padding: 0;
  margin:0;
  height: 100%;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  height:100%;
  width:100%;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

ul {
  padding: 0;
  margin: 0;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

video{
  display: none;
  z-index: -100;
}

@media screen and (min-width: 100px) {
  video {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      transition: 1s opacity;
      object-fit: cover;
      overflow: hidden;
  }
}

.video-wrapper {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.hero {
  position: absolute;
  left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


#section-main {
  position: relative;
}

.heading {
  padding-top: 160px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-family: 'Open sans', sans-serif;
  font-size: 60px;
  z-index: 5;
}

.heading2 {
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  color: #fff;
  width: 50%;
  font-family: 'Open sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  z-index: 5;
}

.heading3 {
  position: relative;
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  z-index: 30;
}

.index-right {
  margin-left: 40px;
  z-index: 5;
  color: white;
}

.index-left {
  margin-right: 40px;
  z-index:5;
  color:white;
}

.btn-learn{
  display: inline-block;
  padding: 17px 50px;
  border-radius: 10px;
  z-index:5;
  background-color: #1daadf;
  color:white;
  transform: translateY(-30%);
}
