
html {
  padding: 0;
  margin:0;
  height: 100%;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  height:100%;
  width:100%;
}

a:link, a:visited {
  text-decoration: none;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

ul {
  padding: 0;
  margin: 0;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.container-fluid > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

video{
  z-index: -100;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: 1s opacity;
  object-fit: cover;
  overflow: hidden;
}

#video-placeholder {
  display: none;
  filter: brightness(50%);
}


.video-wrapper {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.hero {
  position: absolute;
  left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


#section-main {
  position: relative;
}

.heading {
  padding-top: 170px;
  text-align: center;
  margin: 0 auto;
  line-height: 70px;
  color: #fff;
  font-family: 'Open sans', sans-serif;
  font-size: 70px;
  z-index: 5;
}

.heading2 {
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  color: #fff;
  width: 50%;
  font-family: 'Open sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  z-index: 5;
}

.heading3 {
  position: relative;
  padding-top: 62px;
  margin: 0 auto;
  text-align: center;
  z-index: 30;
}

.index-right {
  margin-left: 80px;
  z-index: 5;
  color: white;
}

.index-left {
  margin-right: 70px;
  z-index:5;
  color:white;
}


/* responsive */
@media screen and (max-width: 1080px){
  video {
    width: auto;
    height: 600px;
  }

  .heading {
    padding-top: 120px;
    width: 80%;
    font-size: 30px;
    line-height: 50px;
  }

  .heading2 {
    padding-top: 40px;
    width: 60%;
    font-size: 15px;
  }

  .index-right {
    font-size: 40px;
  }

  .index-left {
    font-size: 40px;
  }

  .btn-learn {
    padding: 8px 20px !important;
    border-radius: 7px !important;
  }
}

@media screen and (max-width: 520px) {
  video {
    display: none;
  }
  #video-placeholder {
    display: block;
    width: auto;
    height: 600px;
  }
}


.btn-learn {
  display: inline-block;
  padding: 17px 50px;
  border-radius: 10px;
  z-index:5;
  background-color: #1daadf;
  color:white;
  transform: translateY(-30%);
}

.btn-learn:hover {
  transition: all 0.3s ease;
}
