
html {
  padding: 0;
  margin:0;
  height: 100%;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  height:100%;
  width:100%;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

ul {
  padding: 0;
  margin: 0;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

video{
  display: none;
}

@media screen and (min-width: 100px) {
  video {
      display: block;
      float: left;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: -100;
      /*left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);*/
      transition: 1s opacity;
  }
}

/*.page {
  background: url("/image/b.jpg") no-repeat center center;
  background-size: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}*/

/*#section-main {
  width:100%;
  background: url(https://source.unsplash.com/random) no-repeat center center;
  background-size: cover;
}*/

/*#section-main:after {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0.2);
  transform: translateX(-50%) translateY(-50%);
}*/

.heading {
  position: absolute;
  text-align: center;
  line-height: 50px;
  color: #fff;
  top:35%;
  left:50%;
  width: 80%;
  font-family: 'Open sans', sans-serif;
  font-size: 60px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.heading2 {
  position: absolute;
  text-align: center;
  line-height: 30px;
  color: #fff;
  top:60%;
  left:50%;
  width: 50%;
  font-family: 'Open sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.index-right{
  position: absolute;
  left:65%;
  top:80%;
  z-index:1;
  color:white;
}

.index-left{
  position: absolute;
  right:65%;
  top:80%;
  z-index:1;
  color:white;
}

.index-mid{
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  padding: 17px 50px;
  border-radius: 10px;
  left:50%;
  top:80%;
  z-index:1;
  background-color: #1daadf;
  color:white;
  transform: translateX(-50%);
}
