.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.navbar{
  z-index: 2;
}

#top-nav {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 3%;
  transform: translateX(-50%);
  padding:0;
  margin:0;
}

.navbar-default{
  background: #fff;
}

.navbar-inverse{
  background: #222;
}

.navbar-center {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}


.navbar-center li {
    display: inline-block;
    float:none;
}

.nav2-link-title{
  font-size: 20px;
}

.navbar a {
  color: #1daadf !important;
  font-weight: 600 !important;
}

.navbar a:hover {
  color: white !important;
  background-color: #1daadf !important;
}
