
#about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.sec-about a {
  color:black;
  text-decoration: underline;
  cursor: pointer;
}


.resumeWindow{
  position: fixed !important;
  left: 42%;
  width:740px;
}
