

#section-main {
  height:700px;
  background: url(https://source.unsplash.com/kVf7VRgg4p8/1920x1080) no-repeat center center;
  background-size: cover;
}

.heading {
  color: #fff;
  padding-top:300px;
}

#Big-in{
  padding-left: 200px;
}

.section{
  height:500px;
}

#2-nav-bar {
  margin-top: 50px;
}
