html,body{
  height:100%;
  margin:0;
}


.sticky{
  width:100%;
}

#section-main {
  height:35rem;
  background: url(https://source.unsplash.com/kVf7VRgg4p8/1920x1080) no-repeat center center;
  background-size: cover;
}

.heading {
  color: #fff;
  padding-top:12rem;
}

#Big-in{
  padding-left: 10rem;
}

.section{
  height:50rem;
}
